name: Arch Linux
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
    - uses: actions/checkout@v6
    - name: Test on Archlinux
      run: |
        cat /etc/os-release
        pacman -Syu --noconfirm make git perl gcc
        yes|perl -MCPAN -e 'install App::cpanminus'
        yes|perl -MCPAN -e 'install local::lib'
        yes|perl -MCPAN -e 'install Expect'
        export PERL5OPT=-Mlocal::lib
        /usr/bin/site_perl/cpanm --installdeps .
        ls -ld /run/systemd/system || true
        perl makefile-expect-driver.pl Linux Unix OSFeatures::POSIXShellRedirection HWCapabilities::Int64 Linux::Arch
        make test
